### Site Settings ###
title               : MCP Demo
subtitle            : Demo site to demonstrate MCP features
description         : >-
                      Hello, hola, नमस्ते!! :wave: I have embarked on a quest to master the art of marketing automation! I am diving deep into Salesforce Marketing Cloud, Pardot, Data Cloud, Personalization, and Salesforce Administration. Join me on my Trailhead adventure as I explore, learn, and give back to the vibrant Salesforce Community. Let’s connect, collaborate, and grow together!
baseurl             : "mcpdemo/"                        # Change to empty quotes if you are hosting your site at <your-username>.github.io directly
repository          : gauravchafe/gauravchafe.github.io   # Change to <your-username>/<your-username>.github.io (or remove it if you don't need remote projects)
remote_theme        : 
open_new_tab        : true                     # Opens external URLs in new tab (works for posts, projects and navbar only)


### Plugins ###
plugins:
  - jemoji


### Navbar Settings ###
nav_exclude:                                    # The following paths are excluded from navbar
  - pages/tags.html
  - pages/404.html
  - pages/index.md
  - documentation/partials/**                   # For Documentation Only


### Author Info ###
author:
  name              : Gaurav Chafe
  image             : https://gauravchafe.github.io/assets/images/gauravchafe.jpg
#  behance           : your_username
# dribbble          : your_username
#  email             : username@domain.com
#  facebook          : your_username
  github            : gauravchafe
# gitlab            : your_username
# instagram         : your_username
# kaggle            : your_username
  linkedin          : gauravchafe
# medium            : your_username
# soundcloud        : your_username
# spotify           : your_username
# stackoverflow     : your_user_id
# tumblr            : your_username.tumblr.com
# twitch            : your_username
  twitter           : gauravchafe
# vimeo             : your_username
# youtube           : your_channel_name
# keybase           : your_username


### Posts ###
permalink: /blog/:title


### Collections ###
collections:
  projects:
    output: true
    permalink: /snippets/:name
  elements:                                             # For Documentation Only
    output: true                                        # For Documentation Only


### Disqus ###
disqus:
  shortname: your-short-name-disqus                     # Your website Shortname on disqus


### Analytics ###
analytics:
  enabled: true                                         # Set true to enable analytics
  google:
    tracking_id: G-9SDB38VFRL


### Buy me a coffee ###
# See https://www.buymeacoffee.com/
buymeacoffee:
  enabled: false
  username: your_username
  color: "#007bff"
  message: "Thank you for visiting."                    # Message to be displayed aside from the button for a few seconds.
  description: "Support me on Buy me a coffee!"


### Defaults for collections ###
defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "page"
  - scope:                                              # For Documentation Only
      path: ""                                          # For Documentation Only
      type: "elements"                                  # For Documentation Only
    values:                                             # For Documentation Only
      layout: "element"                                 # For Documentation Only
  - scope:
      path: ""
      type: "posts"
    values:
      comments: false                                   # Set to true to enable disqus comments


### Exclude from processing ###
exclude:
  - README.md
  - CONTRIBUTING.md
  - LICENSE
  - "*.log"
