<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="#"><img src="./assets/images//logo.png" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
        </ul>
        <div class="header__cart__price">item: <span>$150.00</span></div>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__language">
            <img src="./assets/images//language.png" alt="">
            <div>English</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a href="#">Spanish</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>
        <div class="header__top__right__auth">
            <a href="#"><i class="fa fa-user"></i> Login</a>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            {%- assign html_pages = site.html_pages | sort: 'weight' -%}
            {%- assign filtered_pages = "" | split: "" -%}
      
            {%- for html_page in html_pages -%} 
      
              {%- assign exclude = false -%}
      
              {%- for exclude_path in site.nav_exclude -%}
      
                {%- if exclude_path == html_page.path -%}
                  {%- assign exclude = true -%}
                  {%- break -%}
                {%- elsif exclude_path contains '**' -%}
                  {%- assign match = exclude_path | remove: '**' -%}
                  {%- if html_page.path contains match -%}
                    {%- assign exclude = true -%}
                    {%- break -%}
                  {%- endif -%}
                {%- endif -%}
      
              {%- endfor -%}
      
              {%- unless exclude -%}
                {%- assign filtered_pages = filtered_pages | push: html_page -%}
              {%- endunless -%}
      
            {%- endfor -%}
      
            {% for html_page in filtered_pages %}  
      
              {%- if page.url contains html_page.url -%}
                {%- assign active_status = "active" -%}
              {%- else -%}
                {%- assign active_status = "" -%}
              {%- endif -%}
      
              {%- if html_page.external_url -%}
                {%- assign url = html_page.external_url -%}
              {%- else -%}
                {%- assign url = html_page.url | relative_url -%}
              {%- endif -%}
      
              <li><a class="{{ active_status }}" href="{{ url }}" {%- if html_page.external_url and site.open_new_tab -%} target="_blank" {%- endif -%}>{{ html_page.title }}</a></li>
      
            {% endfor %}
          </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
            <li>Free Shipping for all Order of $99</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->