<!-- GitHub Buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- jQuery CDN -->
<script src="{{ '/assets/js/jquery-3.3.1.min.js' | relative_url }}"></script>

<!-- Bootstrap JS CDN -->
<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>

<script src="{{ '/assets/js/jquery.nice-select.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery-ui.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.slicknav.js' | relative_url }}"></script>
<script src="{{ '/assets/js/mixitup.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/owl.carousel.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
